html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

// VARIABLES
$negro: #111111;
$gris: #a7a9ac;
$naranja: #f9ae3b;
$rojo: #e27b32;
$verde: #50948d;
$celeste:#77c1c7;

//MIXINS
@mixin buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $naranja;
    box-shadow: 0px 7px 10px rgba(42, 57, 75, 0.315);
    height: 20px;
    width: auto;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    color: white;
    transition: all 0.5s ease-in;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: #F2F3F4 
}
.mainContainer {
    width: 100%;
    margin: 0px auto;
    background-image: url(../images/misceleana.png);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.logoHeader {
    position: absolute;
    left: 75%;
    top: 5%;
}
//logo index.html
.logo {
    position: absolute;
    left: 40%;
    top: 35%;
}

.primarySection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 50%;
    min-width: 600px;
    max-width: 900px;
    .sale,.report{
        margin-top: 55%;
        .intro {
            @include buttons;
            :hover & {
                background-color: $verde;
        }
    }
}
}
nav.primarySection {
    display: flex;
    justify-content: start;
    margin: 0 10px;
    width: 10%;
    .sale,.report{
        margin-top: 5%;
        margin-left: 45px;
        .intro {
            @include buttons;
            :hover & {
                background-color: $verde;
        }
    }
}
}
.button{
    display: inline-block;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 100px 50px;
    width: 50vh;
    min-width: 600px;
    max-width: 900px;
    h2{
        background-color: $verde;
        height: 20px;
        border-radius: 5px;
        padding: 5px;
        line-height: 1;
        font-size: 20px;
        color: white;
    }
    button {
        background-color: #f9ae3b;
        margin: 10px 10px 10px 8px;
        height: 35px;
        border-radius: 5px;
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
}
